<h2 class="page-title">従業員アカウント</h2>
<div class="text-end">
  <%= link_to '新規作成', new_admins_employee_path, class: 'btn btn-primary mb-3'%>
<div class="d-flex justify-content-end mb-3">
  <%= link_to "戻る", admins_root_path, class: 'btn btn-outline-secondary' %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">名前</th>
      <th scope="col">メールアドレス</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= link_to "詳細", admins_employee_path(employee), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
