<div class="container py-4" style="max-width: 500px;">
  <div class="card shadow-sm mb-4">
    <div class="card-header bg-primary text-white">
      ルーム新規作成
    </div>
    <div class="card-body">
      <%= simple_form_for @room do |f| %>
        <%= f.input :room_type_name, label: 'ルームタイプ名' %>
        <%= f.input :square_meters, label: '部屋の面積' %>
        <%= f.input :capacity, label: '最大収容人数' %>
        <%= f.input :bed_type, label: 'ベッドタイプ', placeholder: 'ツイン or キング etc..' %>
        <%= f.input :bed_quantity, label: '客室総数' %>
        <%= f.input :htwn, label: 'ハリウッドツイン仕様' %>
        <%= f.collection_select :room_category_id, @categories, :id, :name, label: 'ルームカテゴリー' %>
        <%= f.collection_select :amenity_group_id, @amenities, :id, :name, label: 'アメニティーグループ' %>
        <div class="d-flex justify-content-end mt-3">
          <%= f.submit '送信', class: 'btn btn-primary' %>
          <%= link_to '戻る', configurations_index_path, class: 'btn btn-danger ms-2' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
