<div id="message_<%= message.id %>" data-messages-target="message" class="d-flex mb-2 <%= message.role == 'user' ? 'justify-content-end' : 'justify-content-start' %>">
  <div class="<%= message.role == 'user' ? 'bg-primary text-white' : 'bg-light' %> rounded-4 px-4 py-3 shadow-sm" style="max-width: 70%;">
    <div class="small mb-1 d-flex align-items-center">
      <span class="fw-bold"><%= message.role == 'user' ? 'あなた' : 'AI' %></span>
      <span class="ms-2 text-muted"><%= message.created_at.strftime('%H:%M:%S') %></span>
    </div>
    <div id="message_<%= message.id %>_content" class="lh-lg">
      <%= simple_format(message.content) %>
    </div>
  </div>
</div>