<div data-controller="messages" data-chat-id="<%= @chat.id %>">
  <%= turbo_stream_from "chat_#{@chat.id}" %>
    <div>
      <div> 開始日時: <%= l @chat.created_at, format: :long %></div>
    </div>

    <%= turbo_frame_tag "conversation-log" do %>
      <% if @chat.messages.present? %>
        <%= render @chat.messages %>
      <% end %>
    <% end %>

  <div>
    <%= render "employees/messages/form", chat: @chat, message: @chat.messages.new %>
  </div>

  <div>
    <%= link_to 'チャット一覧', employees_chats_path, class: "link-secondary" %>
  </div>
</div>
