<% if @profile %>
  <div class="show-container">
    <div class="show-box">
      <h2 class="show-title"><%= @profile.nickname %></h2>
      <div class="show-item-container">
        <div class="show-label"><%= Profile.human_attribute_name(:birthday) %></div>
        <div class="show-item"><%= @profile.birthday %></div>
      </div>
      <div class="show-item-container">
        <div class="show-label"><%= Profile.human_attribute_name(:living_location) %></div>
        <div class="show-item"><%= @profile.living_location %></div>
      </div>
      <div class="show-item-container">
        <div class="show-label"><%= Profile.human_attribute_name(:hometown) %></div>
        <div class="show-item"><%= @profile.hometown %></div>
      </div>
      <div class="show-item-container">
        <div class="show-label"><%= Profile.human_attribute_name(:interest) %></div>
        <div class="show-item"><%= @profile.interest %></div>
      </div>
      <div class="show-item-container">
        <div class="show-label"><%= Profile.human_attribute_name(:bio) %></div>
        <div class="show-item"><%= @profile.bio.html_safe %></div>
      </div>
      <div class="show-actions">
        <%= link_to '編集', edit_employees_profile_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% else %>
  <p>まだプロフィールの登録がありません。下記から登録しましょう</p>
  <%= link_to '新規登録', new_employees_profile_path, class: "btn btn-primary" %>
<% end %>
