<div class="card p-5">
  <h2>アカウント編集</h2>
  <%= simple_form_for @admin, url: admins_account_path do |f| %>
    <div class="form-inputs">
      <%= f.input :email, autofocus: true %>
      <%= f.input :password,
                  hint: "パスワードを変更する場合のみ入力してください",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "更新には現在のパスワードが必要です",
                  input_html: { autocomplete: "current-password" } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "更新", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
