<%= simple_form_for @amenity_group do |f| %>
    <%= f.input :name, label: 'グループネーム' %>
    <%= f.input :content, label: '内容' %>
    <div class="d-flex justify-content-start gap-2 mt-3">
      <%= f.submit '送信', class: 'btn btn-primary' %>
      <%= link_to 'キャンセル', configurations_index_path, class: 'btn btn-danger' %>
    </div>
<% end %>

<ol>
    <% @group_all.each do |group| %>
           <li><%= group.name %></li>
    <% end %>
</ol>
