<%= simple_form_for @room_category do |f| %>
    <%= f.input :name, label: 'カテゴリーネーム' %>
    <div class="d-flex justify-content-start gap-2 mt-3">
      <%= f.submit '送信', class: 'btn btn-primary' %>
      <%= link_to 'キャンセル', configurations_index_path, class: 'btn btn-danger' %>
    </div>
<% end %>

<ol>
    <% @category_all.each do |category| %>
           <li><%= category.name %></li>
    <% end %>
</ol>
